.app {
  position: relative;

  height: 100svh;
  width: 100svw;

  touch-action: none;
  user-select: none;

  overflow: hidden;
}

.reset-button {
  color: var(--black);
  outline: none;
  border: none;
  padding: 1em;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}
