.app {
  position: relative;

  height: 100svh;
  width: 100svw;

  touch-action: none;
  user-select: none;

  overflow: hidden;
}

.world {
  position: absolute;

  // prettier-ignore
  transform: translate3d(var(--cx), var(--cy), 0);
}

.circle {
  position: absolute;
  top: calc(var(--y) * var(--scale) * 1px);
  left: calc(var(--x) * var(--scale) * 1px);
  width: calc(var(--scale) * 1px);
  height: calc(var(--scale) * 1px);
}
