.app {
  position: relative;

  height: 100svh;
  width: 100svw;

  touch-action: none;
  user-select: none;

  overflow: hidden;
}

.world {
  position: absolute;

  // prettier-ignore
  transform: translate3d(var(--translate-x), var(--translate-y), 0) scale(var(--scale));
}

.circle {
  position: absolute;
  top: calc((var(--y) - var(--radius)) * 1px);
  left: calc((var(--x) - var(--radius)) * 1px);
  width: calc(var(--radius) * 2 * 1px);
  height: calc(var(--radius) * 2 * 1px);
}
