@mixin button {
  margin: 0;
  padding: 0;
  border-radius: 100%;
  border: none;
  background: var(--black);
  color: var(--white);

  width: var(--size);
  height: var(--size);

  font-size: 2vmax;
  font-weight: bold;

  text-transform: uppercase;

  transition: opacity 250ms;

  &:disabled {
    opacity: 0.5;
  }
}

.controls {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: calc(env(safe-area-inset-bottom));

  justify-content: space-evenly;
  align-items: center;
}

.primary-button {
  --size: 12vmax;
  @include button;
}

.secondary-button {
  --size: 8vmax;
  @include button;
}

.tertiary-button {
  --size: 8vmax;
  @include button;
}

.settings-button {
}
