@mixin button {
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  border: none;
  background: var(--black);
  color: var(--white);

  width: var(--size);
  height: var(--size);

  font-size: 2vmax;
  font-weight: bold;

  text-transform: uppercase;

  transition: opacity 250ms;

  &:disabled {
    opacity: 0.5;
  }
}

.primary-button {
  --size: 12vmax;
  bottom: calc(
    env(safe-area-inset-bottom) + var(--size) / 2
  );
  left: calc(50% - var(--size) / 2);

  @include button;
}

.secondary-button {
  --size: 8vmax;
  bottom: calc(env(safe-area-inset-bottom) + 16vmax / 2);
  left: calc(50% + 16vmax / 2);

  @include button;
}
