.grid {
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  height: var(--height);

  // prettier-ignore
  transform: translate3d(var(--translate-x), var(--translate-y), 0) scale(var(--scale));

  --stroke: hsl(0, 0%, 50%);
}
