.info {
  position: absolute;
  --padding: calc(2vw);

  display: flex;
  flex-direction: column;
  gap: 1vw;

  width: 50vw;

  padding: var(--padding);
  margin: var(--margin);
  box-sizing: border-box;

  background: var(--white);
  opacity: 0.5;
}

.task {
  position: absolute;
}
